@font-face {
  font-family: "poppins";
  src:
    url(assets/fonts/poppins-bold-webfont.woff2) format('woff2'),
    url(assets/fonts/poppins-bold-webfont.woff) format('woff');
  font-weight:bold;
}

@font-face {
  font-family: "poppins";
  src:
    url(assets/fonts/poppins-regular-webfont.woff) format('woff2'),
    url(assets/fonts/poppins-regular-webfont.woff) format('woff');
  font-weight:normal;
}

:root{
  --hue:249;
  --saturation:35%;
  --lightness:56%;
  --bg-color: hsl(var(--hue),var(--saturation),var(--lightness));
  --container-color: hsl(var(--hue),var(--saturation),calc(var(--lightness) - 20%))
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  font-family: "poppins";
  font-weight: 300;
  display:flex;
  height:100vh;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
  max-width:600px;
  /* border: 1px solid purple; */
}

.wrapper{
  width:70vw;
  height:70vh;
  background-color:var(--container-color);
  display:flex;
  border-radius: 3%;
}

.left-content{
  width:35vw;
  position:relative;
}

h1{
  color:white;
  font-size:100px;
  line-height: 90px;
  margin-top:330px;
  position:absolute;
  z-index: 1;
}

.odin-logo{
  position:absolute;
  width:100%;
  height:100%;
  background:url("./assets/odin-lined.png");
  background-repeat: no-repeat;
  left:30px;
  top:50px;
  opacity: 50%;
}

.right-content{
  margin-right:4rem;
  display:flex;
  margin-top: 4rem;
}

.form-card{
  margin-top: 40px;
  background-color:#fff;
  border-radius: 10px; 
  height: 380px;
  width: 550px;
}

.form-container{
  padding-left:1.5em;
  display:flex;
  flex-wrap:wrap;
  gap: 8px;
}

.row{
  display:flex;
  flex-basis: 200px;
  flex-direction: column;
}

.first-row,
.second-row,
.third-row{
  margin-top:0.5em;
  margin-right:2em;
}

h2 {
  font-size:1.5rem;
  font-family: "poppins";
  font-weight: bold;
  margin-left: 1em;  
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

label {
  min-height: 1.5rem;
}

input{
  border: 1.5px solid #D6D9DC;
  border-radius:2px;
  padding: 6px;
}

/* input:required{
  border-bottom: 1.5px solid #D6D9DC !important;
} */

input:invalid{
  border-bottom: 1.5px solid red !important;
}

/* input:valid{
  border-bottom: 1.5px solid var(--bg-color) !important;
} */


span {
  color:red;
}

.create-button{
  display:flex;
  margin-top:20px;
  margin-left:25px;
  /* justify-content: space-between; */
  gap:10px;
}

button{
  /* margin: 20px 20px 0px 20px; */
  font-family:"poppins";
  padding: 0.5em 1em;
  text-decoration: none;
  border:none;
  border-radius: 5px;
  background-color: var(--bg-color);
  color:#fff;
  font-weight: bold;
}

button:hover{
  background-color: var(--bg-color);
}

p{
  padding-bottom:40px;
}